body,html {
	margin: 0;
	padding: 0;
	color: #000;
	background: #a7a09a;
}

#wrap {
	width: 1300px;
	margin: 0 auto;
	background: #ffffff;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline;
	margin: 0;
	padding: 0;
}

#header {
	padding: 5px 10px;
	background: #ddd;
	height: 50px;
	font: normal normal normal 20.34px/normal helvetica, arial, freesans, clean, sans-serif;
}

h1 {
	margin: 0;
}

#nav {
	padding: 5px 10px;
	background: #342D7E;
}

#main {
	float: left;
	width: 1000px;
	padding: 10px;
	background: #f1f1f1;
	margin-top:10px;
	height: 200px;
}

h2 {
	margin: 0 0 1em;
}

#sidebar {
	float: left;
	width: 200px;
	padding: 10px;
	background: #ffffff;
}

#footer {
	clear: both;
	padding: 5px 10px;
	background: #cc9;
}

#footer p {
	margin: 0;
}

* html #footer {
	height: 1px;
}